<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('homepage') }}">Liste Produits</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="#">A propos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('Contact') }}">Contact</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('cart_product_add') }}">Ajout produit dans la DB</a>
            </li>
        </ul>
        {% if app.session.has('cart') %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link nav-cart" href="{{ path('cart_index') }}">
                    <i class="fa fa-shopping-cart"></i>{{ app.session.get('cart').countItems() }}
                </a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>
